* {
  margin: 0px;
  box-sizing: border;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 
:root {
  --primary-color: rgb(251, 162, 230);
  --
} */

